/* Learned a lot about overriding bootstrap css */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  /* color: #dbd7d3; */
}

.accordion {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.accordion-button {
  display: block;
  text-align: center;
  color: #fff;
  border-radius: 20px !important;
  border: 1px solid #888 !important;
  border-left: none !important;
  border-right: none !important;
  background: linear-gradient(90deg, transparent 1%, #00384e, transparent 100%);
}
.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
  background: #6fd6ff !important;
  /* background-color: #5500C9 !important; */
  color: #000000 !important;
  text-decoration: none !important;
  border: hidden !important;
  /* border-color: #fff !important; */
  /* box-shadow: 0px !important; */
}
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.accordion-button:active,
.accordion-button:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.accordion-item {
  background-color: #00384e55;
  border-radius: 20px !important;
  border-bottom: none;
}
h1 {
  color: #fff;
  font-family: "Poppins", "Times New Roman", Times, serif;
}

/* Tables */
thead tr th {
  background-color: #000000 !important;
}
table,
thead,
tbody {
  border-bottom: 2px solid #fff !important;
  border-collapse: collapse !important;
  font-size: 0.8rem !important;
}
td {
  font-style: italic;
}

/* Spans */
span {
  font-weight: 600;
  color: #ff0000;
  font-family: Tahoma, sans-serif;
}
